<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- fontawesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"
      integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4="
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="./settings.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="bodyLayout">
      <div class="optionSelectorContainer" id="stationPersonelType"></div>

      <div class="settingsContent">
        <div class="wysiwyg" id="terms"></div>
        <div class="wysiwyg" id="privacy"></div>
      </div>
    </div>
    <script src="../../../src/modules/customRadio.js"></script>
    <script src="../../../src/modules/searchList.js"></script>
    <script src="../../../src/modules/pagination.js"></script>
    <script src="../../../src/modules/wyswyg.js"></script>
    <script src="./settings.js"></script>
  </body>
</html>
