<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- fontawesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"
      integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4="
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="./layout.css" />
    <title>Aziza</title>
  </head>
  <body>
    <div class="bodyLayout">
      <div class="topBar">
        <div class="imageContainer logoContainer">
          <img src="../../../src/media/logo.svg" alt="" />
        </div>
        <span class="dashboardName">Aziza Office</span>
        <div class="searchWrapper gridCenter"></div>
        <div class="rightContent">
          <div class="notificationIcon">
            <i class="far fa-bell" onclick="ToggleNotifications()"></i>
            <div class="newNotifications"></div>
          </div>
          <div class="loggedInUserContainer">
            <span class="userGreeting"
              >Hi Thandanani! <br /><span class="userGreetingEmail"
                >thandanani@gmail.com</span
              >
            </span>
            <div class="loggedInUser" onclick="openUserMenu()">
              <img src="../../../src/media/man.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="sideNav">
        <a href="#" onclick="gotoOverview(this)" class="navLink">
          <i class="fas fa-home navLink-Icon"></i>
          <span class="navLink-Text">Overview</span>
        </a>

        <a href="#" onclick="gotoLawEnforcement(this)" class="navLink">
          <i class="fas fa-gavel navLink-Icon"></i>
          <span class="navLink-Text">law Enforcement</span>
        </a>
        <a href="#" onclick="gotoEmergency(this)" class="navLink">
          <i class="fas fa-first-aid navLink-Icon"></i>
          <span class="navLink-Text">Emergency</span>
        </a>
        <a href="#" onclick="gotoStaff(this)" class="navLink">
          <i class="fas fa-users navLink-Icon"></i>
          <span class="navLink-Text">Staff</span>
        </a>
        <a href="#" onclick="gotoEndUsers(this)" class="navLink">
          <i class="fas fa-users navLink-Icon"></i>
          <span class="navLink-Text">End Users</span>
        </a>
        <a href="#" onclick="gotoRevenue(this)" class="navLink">
          <i class="fas fa-chart-bar navLink-Icon"></i>
          <span class="navLink-Text">Revenue</span>
        </a>
        <a href="#" onclick="gotoNotifications(this)" class="navLink">
          <i class="fas fa-cog navLink-Icon"></i>
          <span class="navLink-Text">Notifications</span>
        </a>
        <a href="#" onclick="gotoSettings(this)" class="navLink">
          <i class="fas fa-cog navLink-Icon"></i>
          <span class="navLink-Text">Settings</span>
        </a>
      </div>
      <div class="contentCanvas"></div>

      <!-- userpopup -->
      <div class="modalContainer" id="loggedInUserPopup">
        <div class="modal" id="userMenu">
          <a href="#" class="subMenu-Item" onclick="logout()">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
          </a>
          <a href="#" class="subMenu-Item" onclick="openProfile()">
            <i class="fas fa-user-circle"></i>
            <span>Profile</span>
          </a>
        </div>
      </div>

      <!-- add user popup -->
      <div class="modalContainer" id="addUserPopup">
        <div class="modal">
          <div class="optionSelectorContainer" id="addUserTypeSelector"></div>

          <form action="" id="userForm">
            <label for="addUserFullname" class="inputGroup">
              <span class="inputLabel">Full name</span>
              <input
                class="inputField"
                type="text"
                name="addUserFullname"
                id="addUserFullname"
              />
            </label>
            <label for="addUserEmail" class="inputGroup">
              <span class="inputLabel">Email</span>
              <input
                class="inputField"
                type="email"
                name="addUserEmail"
                id="addUserEmail"
                placeholder="+27"
              />
            </label>

            <label for="addUserPhone" class="inputGroup">
              <span class="inputLabel">Phone number</span>
              <input
                class="inputField"
                type="number"
                name="addUserPhone"
                id="addUserPhone"
                placeholder="+27"
              />
            </label>
            <label for="addUserPeisa" class="inputGroup">
              <span class="inputLabel">Peisa number</span>
              <input
                class="inputField"
                type="number"
                name="addUserPeisa"
                id="addUserPeisa"
              />
            </label>
            <label for="addUserWorkId" class="inputGroup">
              <span class="inputLabel">Work ID</span>
              <input
                class="inputField"
                type="text"
                name="addUserWorkId"
                id="addUserWorkId"
              />
            </label>
            <label for="addUserRole" class="inputGroup">
              <span class="inputLabel">User role</span>
              <select class="inputField" name="addUserRole" id="addUserRole">
                <option value="responder">Responder</option>
                <option value="admin">Admin</option>
              </select>
            </label>

            <button type="submit" class="actionBtn">Add user</button>
          </form>
          <form action="" id="clusterForm">
            <label for="addClusterFullname" class="inputGroup">
              <span class="inputLabel">Name of cluster</span>
              <input
                class="inputField"
                type="text"
                name="addClusterFullname"
                id="addClusterFullname"
              />
            </label>
            <label for="addClusterEmail" class="inputGroup">
              <span class="inputLabel">Cluster email</span>
              <input
                class="inputField"
                type="email"
                name="addClusterEmail"
                id="addClusterEmail"
                placeholder="+27"
              />
            </label>
            <label for="addClusterPhone" class="inputGroup">
              <span class="inputLabel">Cluster Phone number</span>
              <input
                class="inputField"
                type="number"
                name="addClusterPhone"
                id="addClusterPhone"
                placeholder="+27"
              />
            </label>

            <label for="addClusterFullname" class="inputGroup">
              <span class="inputLabel">Cluster Superior full name</span>
              <input
                class="inputField"
                type="text"
                name="addClusterFullname"
                id="addClusterFullname"
              />
            </label>
            <label for="addClusterFullname" class="inputGroup">
              <span class="inputLabel">Cluster Superior peisa number</span>
              <input
                class="inputField"
                type="text"
                name="addClusterFullname"
                id="addClusterFullname"
              />
            </label>
            <label for="addClusterEmail" class="inputGroup">
              <span class="inputLabel">Cluster Superior email address</span>
              <input
                class="inputField"
                type="email"
                name="addClusterEmail"
                id="addClusterEmail"
                placeholder="+27"
              />
            </label>
            <label for="addClusterFullname" class="inputGroup">
              <span class="inputLabel">Cluster Superior phone number</span>
              <input
                class="inputField"
                type="number"
                name="addClusterFullname"
                id="addClusterFullname"
              />
            </label>

            <input
              type="button"
              name="generatePassword"
              id="generatePassword"
              class="inputField hoverCard"
              value="Generate Password"
            />

            <button type="submit" class="actionBtn">Add user</button>
          </form>
        </div>
      </div>

      <!-- Notification button click popup -->
      <div class="notesContainer" id="notifications">
        <div class="row spacebetween">
          <span class="NotificationsTitle">Notifications</span>
        </div>
        <div class="tasksItems">
          <a class="task" onclick="OpenNotification()">
            <div class="iconAndContent">
              <p>
                <span class="taskTitle">Add Alfred Chitlins as Admin</span
                ><br />
                <span class="taskContent">
                  purpose of lorem ipsum is to create a natural looking
                  block</span
                >
              </p>
            </div>
            <span class="taskDay">24 February 2021</span>
          </a>
        </div>
      </div>

      <!-- Note popup -->
      <div class="modalContainer" id="notificationPopupContainer">
        <div class="modal" id="notificationPopupNote">
          <a href="#" class="notificationCloser" onclick="closeNotification()"
            ><i class="far fa-times-circle"></i
          ></a>

          <div class="task fullNotification">
            <div class="iconAndContent">
              <p>
                <span class="taskTitle">Add Alfred Chitlins as Admin</span
                ><br />
                <span class="taskContent">
                  purpose of lorem ipsum is to create a natural looking
                  block</span
                >
              </p>
            </div>
            <span class="taskDay">24 February 2021</span>
          </div>
        </div>
      </div>
    </div>
    <script src="../../../src/modules/customRadio.js"></script>
    <script src="../../../src/modules/loader.js"></script>
    <script src="../../../src/modules/popup.js"></script>
    <script src="./layout.js"></script>
  </body>
</html>
