<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- fontawesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"
      integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./endUsers.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="bodyLayout">
      <div class="leftSide">
        <div class="stationPersonel">
          <div class="personelSelectionRow">
            <div class="optionSelectorContainer" id="stationPersonelType"></div>
            <div class="stationPersonel-search">
              <input
                type="text"
                class="inputField"
                placeholder="Search personel"
                id="personelSearchInput"
              />
              <i class="fa fa-search searchIcon"></i>
            </div>
          </div>

          <table class="stationPersonelList paginated">
            <thead>
              <tr>
                <th>User Status</th>
                <th>Full name</th>
                <th>Account Status</th>
              </tr>
            </thead>
            <tbody>
              <tr class="subscribed" onclick="openUser(this)">
                <td><div class="endUserStatus rescue"></div></td>
                <td>
                  <div class="userNameAndPic">
                    <div class="userPic">
                      <img src="../../../src/media/man.jpg" alt="" />
                    </div>
                    <span>Edward Smitten</span>
                  </div>
                </td>

                <td><span class="userStatus disabled">Disabled</span></td>
              </tr>
              <tr class="notSubscribed" onclick="openUser(this)">
                <td><div class="endUserStatus inactive"></div></td>
                <td>
                  <div class="userNameAndPic">
                    <div class="userPic">
                      <img src="../../../src/media/man.jpg" alt="" />
                    </div>
                    <span>John Smith</span>
                  </div>
                </td>

                <td>
                  <span class="userStatus active">Active</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="rightSide">
        <div class="userPicture">
          <img src="../../../src/media/man.jpg" alt="" />
        </div>
        <div class="userDetails">
          <div class="callsRow">
            <span class="trueCalls">Valid Calls 11</span>
            <span class="falseCalls">False Calls 12</span>
            <span class="totalCalls">Total Rescue Calls 39</span>
          </div>

          <form action="" class="updateUserForm">
            <div class="inputsContainer">
              <div class="formRow">
                <label for="fullName">Full Name</label>
                <input
                  type="text"
                  name="fullName"
                  id="fullName"
                  value="John Smith"
                />
              </div>
              <div class="formRow">
                <label for="phoneNumber">Phone number</label>
                <input
                  type="text"
                  name="phoneNumber"
                  id="phoneNumber"
                  value="+2782345678"
                />
              </div>
              <div class="formRow">
                <label for="emailAddress">Email Address</label>
                <input
                  type="email"
                  name="emailAddress"
                  id="emailAddress"
                  value="johns@saps.co.za"
                />
              </div>

              <div class="formRow">
                <label for="location">Location</label>
                <input
                  type="text"
                  class="noBorder"
                  name="location"
                  id="location"
                  value="21 Smit Street, JHB"
                  disabled
                />
              </div>
              <div class="formRow">
                <label for="subscription">Subscription</label>
                <input
                  type="text"
                  class="noBorder"
                  name="subscription"
                  id="subscription"
                  value="Premium"
                  disabled
                />
              </div>
              <div class="formRow">
                <label for="status">Status</label>
                <input
                  type="text"
                  class="noBorder"
                  name="status"
                  id="status"
                  value="Help Alert"
                  disabled
                />
              </div>
              <div class="formRow">
                <span class="labelSpan">Disable account?</span>
                <label class="switch">
                  <input type="checkbox" checked />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>

            <div class="userBtnsRow">
              <a
                href="#"
                class="secondaryBtn hoverCard"
                onclick="openNotificationForm()"
                >Send Notification</a
              >
              <button type="submit" class="hoverCard">Save</button>
            </div>
          </form>
        </div>
      </div>

      <div class="modalContainer" id="notificationForm">
        <form action="" class="modal">
          <span class="sendNotificationTo"
            >Send Notifdication to : <br />
            <strong>John Smith</strong></span
          >
          <div class="notificationType">
            <span class="notificationTypeLabel"
              >Select Notification Type :<br
            /></span>

            <input
              type="radio"
              id="general"
              name="notificationType"
              value="General"
            />
            <label for="general">General</label><br />
            <input
              type="radio"
              id="safetyTips"
              name="notificationType"
              value="Safety Tips"
            />
            <label for="safetyTips">Safety Tips</label><br />
          </div>

          <div class="typeMessage">
            <label for="notificationMessage ">Type notification</label>
            <textarea
              id="notificationMessage "
              class="inputFieldArea"
              name="notificationMessage "
              id=" "
              cols="30 "
              rows="10 "
            ></textarea>
          </div>
          <div class="sendTheNotification">
            <button type="submit" value="Send">Send</button>
          </div>
        </form>
      </div>
    </div>

    <script src="../../../src/modules/customRadio.js"></script>
    <script src="../../../src/modules/searchList.js"></script>
    <script src="../../../src/modules/pagination.js"></script>
    <script src="../../../src/modules/popup.js"></script>

    <script src="./endUsers.js"></script>
  </body>
</html>
