@import url("../../../src/CommonCSS/root.css");
@import url("../../../src/CommonCSS/pagination.css");
@import url("../../../src/CommonCSS/customRadio.css");
@import url("../../../src/CommonCSS/inputs.css");
@import url("../../../src/CommonCSS/switch.css");

.bodyLayout {
  display: grid;
  height: 100%;
  grid-template-rows: 4rem 1fr;
  grid-template-columns: 2.5fr 1fr;
  grid-template-areas:
    "backBtn backBtn "
    "leftSide leftSide";
  transition: all 250ms ease-in-out;
}
.backBtn {
  grid-area: backBtn;
  display: flex;
  gap: 1rem;
  color: var(--grey600);
  align-self: center;
  margin-left: 1rem;
  transition: all 150ms ease-in-out;
}

.backBtn:hover {
  color: var(--accent600);
  gap: 1.5rem;
}

.leftSide {
  grid-area: leftSide;

  padding: 1rem 1rem;
  transition: width 150ms ease-in-out;
}

.endUserStatus {
  height: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-left: 2rem;
}
.endUserStatus.okay {
  background-color: green;
}
.endUserStatus.health {
  background-color: orange;
}
.endUserStatus.rescue {
  background-color: red;
}

.stationPersonel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.personelSelectionRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stationPersonel-search {
  display: flex;
  position: relative;
}

.stationPersonel-search .inputField {
  padding-left: 2rem;
}

.stationPersonel-search .searchIcon {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0%, -50%);
  opacity: 00.5;
}

.stationPersonelList {
  width: 100%;
  border-collapse: collapse;
}

.stationPersonelList thead {
  font-weight: 600;
  text-align: left;
  margin-bottom: 0.5rem;
}

.stationPersonelList thead th {
  background-color: var(--accent300);
  padding: 1.5rem 0 1.5rem 0.25rem;
}

.stationPersonelList tbody td {
  margin-top: 0.15rem;

  padding: 1rem 0 1rem 0.25rem;
}

.stationPersonelList tbody td.active {
  background-color: var(--accent150);
}

.stationPersonelList tbody tr {
  cursor: pointer;
}
.stationPersonelList tbody tr:hover td {
  cursor: pointer;
  background-color: var(--accent150);
}

.stationPersonelList tbody tr:nth-child(even) {
  background-color: var(--accent50);
}
.userNameAndPic {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.userPic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.userPic img {
  object-fit: cover;
  object-position: center center;
}

.userRowAction {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.rightSide {
  grid-area: rightSide;
  background-color: var(--grey100);
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  gap: 2rem;
}

.userPicture {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
}

.userPicture img {
  object-fit: cover;
  object-position: center center;
}

.userDetails {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.callsRow {
  display: flex;
  justify-content: space-between;
  font-size: 0.6rem;
  padding: 1rem 0.5rem;
  background-color: var(--accent150);
}

.userBtnsRow {
  display: flex;
  justify-content: space-between;
}

.secondaryBtn {
  background-color: var(--accent400);
  padding: 0.75rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.875rem;
  color: black;
}
.updateUserForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formRow {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
}

.formRow label,
.labelSpan {
  opacity: 0.8;
  margin-bottom: 0.02rem;
}

.formRow input {
  border: none;
  border-bottom: 1px solid var(--grey600);
  background-color: transparent;
  outline: none;
}

.formRow input.noBorder {
  border: none;
}

.updateUserForm button {
  background-color: var(--accent400);
  padding: 0.75rem 3rem;
  border-radius: 0.3rem;
}
