.modalContainer {
  display: none;
  place-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.modal {
  max-width: 85%;
  max-height: 90%;
  overflow-y: auto;
  background-color: white;
  border-radius: 4px;
  position: relative;
  padding: 2rem;
}

.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-weight: 700;
}

.close::after {
  font-family: "material icons";
  content: "\e5cd";
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 100%;
}

.close:hover::after {
  font-size: 1.2rem;
  transition: all 0.1s;
  border: 1px solid var(--linkBlue);
  color: var(--lightBlue);
  box-sizing: border-box;
}
