@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

:root {
  /* Colors */
  --accent50: #f2edef50;
  --accent150: #8c98a950;
  --accent100: #e0e7ff20;
  --accent300: #f2edef;
  --accent400: #e0e7ff;
  --accent600: #93a6b9;
  --grey100: #f7f8fa;
  --grey200: rgba(0, 0, 0, 0.1);
  --grey400: #ededed;
  --grey500: #8c98a9;
  --grey600: #858585;
  --blue200: #012a9390;
  --blue800: #012a93;
  --purple800: #574b90;
  --green800: #55efc4;
  --red500: rgb(167, 67, 67);

  /* shadows */

  --shadow200: 0px 3px 4px rgba(0, 0, 0, 0.1);
  --shadow300: 0px 4px 9px rgba(0, 0, 0, 0.2);
  --shadow400: 0px 4px 80px 20px rgba(0, 0, 0, 0.1);
}

body {
  width: 100%;
  height: 100vh;
}
.bodyLayout {
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  border: none;
}

.hoverCard {
  transition: all 150ms ease-in-out;
}
.hoverCard:hover {
  background-color: var(--grey500);
  transform: scale(0.975);
}

.ctaButton {
  padding: 1rem 2rem;
  background-color: var(--accent600);
  border-radius: 0.25rem;
  color: white;
  box-shadow: var(--shadow200);
  transition: all 100ms ease-in-out;
}

.ctaButton:hover {
  transform: scale(0.975);
  box-shadow: var(--shadow300);
  color: black;
}

input[type="radio"] {
  cursor: pointer;
}
