@import url("../../../src/CommonCSS/root.css");
@import url("../../../src/CommonCSS/pagination.css");
@import url("../../../src/CommonCSS/customRadio.css");
@import url("../../../src/CommonCSS/inputs.css");
@import url("../../../src/CommonCSS/switch.css");
.bodyLayout {
  display: grid;
  grid-gap: 0.5rem;
  height: 100%;
  grid-template-rows: 50px 2fr 7fr 50px;
  padding: 1rem;
  background-color: #f7f8fa70;
}

.clusters {
  overflow-x: auto;
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
}

.cluster {
  width: 300px;
  height: 85%;
  /* border: 1px solid var(--grey200); */
  /* box-shadow: var(--shadow300); */
  border-radius: 8px;
  /* background-color: #e5e5e5; */
  display: grid;
  grid-template-columns: 2fr 10px 2fr;
  grid-gap: 2rem;
  align-items: center;
}

.clusterName {
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
}

.clusterVr {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  height: 80%;
}

.clusterContact {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.cardItem-Label {
  opacity: 0.5;
  font-size: 0.65rem;
}

.cardItem {
  font-size: 1rem;
}

.managerNumber {
  margin-top: 0.25rem;
}

.overviewContent {
  display: inline-flex;
  gap: 4rem;
  padding: 2rem 4rem;
}

.overviewCard {
  height: 15rem;
  width: fit-content;
  display: flex;
}

.solidBorder {
  height: 100%;
  width: 5px;
  background-color: var(--red500);
}

.overviewCardContent {
  margin: 0.1rem 0.3rem;
  padding: 0.5rem 1rem 0.5rem 2rem;
  background-color: var(--accent300);
  width: 20rem;
  border-radius: 0 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.overviewCardContent-figure {
  font-weight: 600;
  font-size: 1.5rem;
}
