<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- fontawesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"
      integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4="
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="./notifications.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="bodyLayout">
      <div class="settingsContent">
        <div class="notifications" id="notifications">
          <div class="notifyContainer">
            <div class="sendNotificationWrapper">
              <span class="pageHeader">Send a notification</span>
              <form action="" class="sendNoteForm">
                <div class="selectSociety">
                  <label for="societiesList">Choose recipients:</label>
                  <select multiple data-placeholder="Select recipients">
                    <option value="Systemwide">Systemwide</option>
                    <option value="Law Enforcement">Law Enforcement</option>
                    <option value="Emergency Healthcare">
                      Emergency Healthcare
                    </option>
                    <option value="Users">Users</option>
                    <option value="Aziza staff">Aziza staff</option>
                  </select>

                  <div class="selectedSocieties"></div>
                </div>

                <div class="notificationType">
                  <span class="notificationTypeLabel"
                    >Select Notification Type :<br
                  /></span>

                  <input
                    type="radio"
                    id="general"
                    name="notificationType"
                    value="General"
                  />
                  <label for="general">General</label><br />
                  <input
                    type="radio"
                    id="safetyTips"
                    name="notificationType"
                    value="Safety Tips"
                  />
                  <label for="safetyTips">Safety Tips</label><br />
                </div>

                <div class="typeMessage">
                  <label for="notificationMessage ">Type notification</label>
                  <textarea
                    id="notificationMessage "
                    class="inputFieldArea"
                    name="notificationMessage "
                    id=" "
                    cols="30 "
                    rows="10 "
                  ></textarea>
                </div>
                <div class="sendTheNotification">
                  <button type="submit" value="Send">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./notifications.js"></script>
  </body>
</html>
00
