<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- fontawesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"
      integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4="
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="./layout.css" />
    <title>Aziza</title>
  </head>
  <body>
    <div class="bodyLayout">
      <div class="topBar">
        <div class="imageContainer logoContainer">
          <img src="../../src/Media/logo.svg" alt="" />
        </div>
        <div class="searchWrapper gridCenter">
          <div class="pageSearch">
            <input type="search" name="pageSearch" id="pageSearch" />

            <i class="fa fa-search searchIcon"></i>
          </div>
        </div>
        <div class="rightContent">
          <a href="#" class="actionBtn" onclick="openUserForm()">Add users</a>
          <div class="notificationIcon">
            <i class="far fa-bell"></i>
            <div class="newNotifications"></div>
          </div>
          <div class="loggedInUser" onclick="openUserMenu()">
            <img src="../../src/media/man.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="sideNav">
        <a href="#" onclick="gotoOverview(this)" class="navLink">
          <i class="fas fa-home navLink-Icon"></i>
          <span class="navLink-Text">Overview</span>
        </a>
        <a href="#" onclick="gotoRescueCalls(this)" class="navLink">
          <i class="fas fa-hand-paper navLink-Icon"></i>
          <span class="navLink-Text">Rescue Calls</span>
        </a>
        <a href="#" onclick="gotoTrack(this)" class="navLink">
          <i class="fas fa-map-marker-alt navLink-Icon"></i>
          <span class="navLink-Text">Track</span>
        </a>
        <a href="#" onclick="gotoUsers(this)" class="navLink">
          <i class="fas fa-users navLink-Icon"></i>
          <span class="navLink-Text">Users</span>
        </a>
        <a href="#" onclick="gotoSettings(this)" class="navLink">
          <i class="fas fa-cog navLink-Icon"></i>
          <span class="navLink-Text">Settings</span>
        </a>
      </div>
      <div class="contentCanvas"></div>

      <!-- userpopup -->
      <div class="modalContainer" id="loggedInUserPopup">
        <div class="modal" id="userMenu">
          <a href="#" class="subMenu-Item" onclick="logout()">
            <i class="fa fa-logout"></i>
            <span>Logout</span>
          </a>
          <a href="#" class="subMenu-Item" onclick="openProfile()">
            <i class="fa fa-logout"></i>
            <span>Profile</span>
          </a>
        </div>
      </div>

      <!-- add user popup -->
      <div class="modalContainer" id="addUserPopup">
        <div class="modal">
          <div class="optionSelectorContainer" id="addUserTypeSelector"></div>

          <form action="" id="userForm">
            <label for="addUserFullname" class="inputGroup">
              <span class="inputLabel">Full name</span>
              <input
                class="inputField"
                type="text"
                name="addUserFullname"
                id="addUserFullname"
              />
            </label>
            <label for="addUserEmail" class="inputGroup">
              <span class="inputLabel">Email</span>
              <input
                class="inputField"
                type="email"
                name="addUserEmail"
                id="addUserEmail"
                placeholder="+27"
              />
            </label>

            <label for="addUserPhone" class="inputGroup">
              <span class="inputLabel">Phone number</span>
              <input
                class="inputField"
                type="number"
                name="addUserPhone"
                id="addUserPhone"
                placeholder="+27"
              />
            </label>
            <label for="addUserPeisa" class="inputGroup">
              <span class="inputLabel">Peisa number</span>
              <input
                class="inputField"
                type="number"
                name="addUserPeisa"
                id="addUserPeisa"
              />
            </label>
            <label for="addUserWorkId" class="inputGroup">
              <span class="inputLabel">Work ID</span>
              <input
                class="inputField"
                type="number"
                name="addUserWorkId"
                id="addUserWorkId"
                placeholder="+27"
              />
            </label>
            <label for="addUserRole" class="inputGroup">
              <span class="inputLabel">User role</span>
              <select class="inputField" name="addUserRole" id="addUserRole">
                <option value="responder">Responder</option>
                <option value="admin">Admin</option>
              </select>
            </label>

            <button type="submit" class="actionBtn">Add user</button>
          </form>
          <form action="" id="stationForm">
            <label for="addStationFullname" class="inputGroup">
              <span class="inputLabel">Full name</span>
              <input
                class="inputField"
                type="text"
                name="addStationFullname"
                id="addStationFullname"
              />
            </label>
            <label for="addStationEmail" class="inputGroup">
              <span class="inputLabel">Email</span>
              <input
                class="inputField"
                type="email"
                name="addStationEmail"
                id="addStationEmail"
                placeholder="+27"
              />
            </label>
            <label for="addStationPhone" class="inputGroup">
              <span class="inputLabel">Phone number</span>
              <input
                class="inputField"
                type="number"
                name="addStationPhone"
                id="addStationPhone"
                placeholder="+27"
              />
            </label>

            <input
              type="button"
              name="generatePassword"
              id="generatePassword"
              class="inputField hoverCard"
              value="Generate Password"
            />

            <button type="submit" class="actionBtn">Add user</button>
          </form>
        </div>
      </div>
    </div>
    <script src="../../src/modules/customRadio.js"></script>
    <script src="../../src/modules/loader.js"></script>
    <script src="../../src/modules/popup.js"></script>
    <script src="./layout.js"></script>
  </body>
</html>
