<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- fontawesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"
      integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjxesVJcR_Qbuom5-jagFr8rxXqsDrqs0"
      async
      defer
    ></script>

    <link rel="stylesheet" href="./track.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="bodyLayout">
      <div class="leftSide">
        <div class="stationPersonel">
          <div class="personelSelectionRow">
            <span class="trackRespondersLabel">Track Responders</span>
            <div class="stationPersonel-search">
              <input
                type="text"
                class="inputField"
                placeholder="Search personel"
                id="personelSearchInput"
              />
              <i class="fa fa-search searchIcon"></i>
            </div>
          </div>
          <table class="stationPersonelList paginated">
            <thead>
              <tr>
                <th>Full name</th>
                <th>Phone number</th>
              </tr>
            </thead>
            <tbody>
              <tr class="responder" onclick="openUser(this)">
                <td>
                  <div class="userNameAndPic">
                    <div class="userPic">
                      <img src="../../../src/media/man.jpg" alt="" />
                    </div>
                    <span>Edward Smitten</span>
                  </div>
                </td>
                <td>+27812345678</td>
              </tr>
              <tr class="admin" onclick="openUser(this)">
                <td>
                  <div class="userNameAndPic">
                    <div class="userPic">
                      <img src="../../../src/media/man.jpg" alt="" />
                    </div>
                    <span>John Smith</span>
                  </div>
                </td>
                <td>+27812345678</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="rightSide">
        <a href="#" class="mapSizeBtn" onclick="expandMapToggle()">
          <i class="fas fa-expand"></i
        ></a>

        <div id="map"></div>
      </div>
    </div>

    <script src="../../../src/modules/customRadio.js"></script>
    <script src="../../../src/modules/searchList.js"></script>
    <script src="../../../src/modules/pagination.js"></script>

    <script src="./track.js"></script>
  </body>
</html>
