<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- fontawesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"
      integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4="
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="./track.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="bodyLayout">
      <div class="leftSide">
        <div class="stationPersonel">
          <div class="personelSelectionRow">
            <span class="trackRespondersLabel">Track Responders</span>
            <div class="stationPersonel-search">
              <input
                type="text"
                class="inputField"
                placeholder="Search personel"
                id="personelSearchInput"
              />
              <i class="fa fa-search searchIcon"></i>
            </div>
          </div>
          <table class="stationPersonelList paginated">
            <thead>
              <tr>
                <th>Full name</th>
                <th>Phone number</th>
              </tr>
            </thead>
            <tbody>
              <tr class="responder" onclick="openUser(this)">
                <td>
                  <div class="userNameAndPic">
                    <div class="userPic">
                      <img src="../../../src/media/man.jpg" alt="" />
                    </div>
                    <span>Edward Smitten</span>
                  </div>
                </td>
                <td>+27812345678</td>
              </tr>
              <tr class="admin" onclick="openUser(this)">
                <td>
                  <div class="userNameAndPic">
                    <div class="userPic">
                      <img src="../../../src/media/man.jpg" alt="" />
                    </div>
                    <span>John Smith</span>
                  </div>
                </td>
                <td>+27812345678</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="rightSide">
        <i class="fas fa-expand" onclick="expandMap()"></i>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14343.197799512365!2d28.077140099999998!3d-26.007386200000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sza!4v1635328513501!5m2!1sen!2sza"
          width="1000"
          height="1000"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
    <script src="../../../src/modules/customRadio.js"></script>
    <script src="../../../src/modules/searchList.js"></script>
    <script src="../../../src/modules/pagination.js"></script>
    <script src="./track.js"></script>
  </body>
</html>
