<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"
      integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./rescue-calls.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="bodyLayout">
      <div class="casesContainer">
        <div class="optionSelectorContainer" id="stationPersonelType"></div>
        <div class="cases">
          <table class="casesList paginated"></table>
        </div>
        <div class="responders">
          <span class="respondersHeader">
            Responders closest to
            <span class="victimToBeAssigned">Edward Smitten</span>
          </span>
          <div class="respondersList">
            <div class="respondersList-item">
              <div class="responderPic"></div>
              <div class="responderNameContainer">
                <span class="responderName">John Wick</span>
                <div class="responderDistance">2km away</div>
              </div>
              <a href="#" class="assignResponderBtn">Assign</a>
            </div>
            <div class="respondersList-item">
              <div class="responderPic"></div>
              <div class="responderNameContainer">
                <span class="responderName">Johnathan Wick</span>
                <div class="responderDistance">2km away</div>
              </div>
              <a href="#" class="assignResponderBtn">Assign</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../../src/modules/customRadio.js"></script>
    <script src="../../../src/modules/searchList.js"></script>
    <script src="../../../src/modules/pagination.js"></script>

    <script src="./rescue-calls.js"></script>
  </body>
</html>
