<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- fontawesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"
      integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./responders-list.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="bodyLayout">
      <div class="leftSide">
        <div class="stationStatsContainer">
          <span class="stationStatsHeader">Hilbrow Station Statistics</span>

          <div class="attendedCallsContainer">
            <div class="attendedCallsBox absoluteCenter">
              <span class="attendedLabel">Total Attended Calls</span>
              <span class="number">339,259</span>
            </div>
            <div class="dashedLine"></div>
          </div>

          <div class="labelsRow">
            <div class="centeredCol">
              <div class="coloredCircle rescue"></div>
              <span class="chartNumber">1606</span>
              <span class="chartLabel">Rescue calls</span>
            </div>

            <div class="centeredCol">
              <div class="coloredCircle nonRescue"></div>
              <span class="chartNumber">146</span>
              <span class="chartLabel">Non Rescue calls</span>
            </div>
          </div>

          <div class="callsChart">
            <div class="callsChart-rescue"></div>
            <div class="callsChart-nonRescue"></div>
          </div>
        </div>

        <div class="stationPersonel">
          <div class="personelCount">
            <div class="personelCountItem">
              <span class="personelItemCount">56</span>
              <span class="personelItemLabel">Responders</span>
            </div>
            <div class="personelCountItem">
              <span class="personelItemCount">16</span>
              <span class="personelItemLabel">Administrators</span>
            </div>
          </div>
        </div>
      </div>

      <div class="rightSide">
        <div class="userPicture">
          <img src="../../../src/media/police.svg" alt="" />
        </div>
        <span class="usersName">Hillbrow Police Station</span>

        <div class="userDetails">
          <span class="heading">Station Manager</span>
          <div class="labelTexts">
            <span class="labelText">Full name:</span>
            <span class="labelText">Telephone/phone number:</span>
            <span class="labelText">Email Address:</span>
          </div>
          <div class="infoTexts">
            <input
              type="text"
              name="stationManagerName"
              id="stationManagerName"
              disabled
              value="Miss Lerato M"
              class="infoText"
            />
            <input
              type="text"
              name="stationManagerNumber"
              id="stationManagerNumber"
              disabled
              value="0119585241"
              class="infoText"
            />
            <input
              type="email"
              name="stationManagerEmail"
              id="stationManagerEmail"
              disabled
              value="lerato@saps.org.za"
              class="infoText"
            />
          </div>
        </div>
        <div class="userDetails">
          <span class="heading">Station Details</span>
          <div class="labelTexts">
            <span class="labelText">Address:</span>
            <span class="labelText">Telephone/phone number:</span>
          </div>
          <div class="infoTexts">
            <input
              type="text"
              name="stationAddress"
              id="stationAddress"
              disabled
              value="21 Hillbrow Avenue, Hillbrow, 2190"
              class="infoText"
            />
            <input
              type="text"
              name="stationNumber"
              id="stationNumber"
              disabled
              value="0119585241"
              class="infoText"
            />
          </div>
        </div>

        <div class="userBtns">
          <a
            href="#"
            class="userOptionBtn hoverCard"
            onclick="editProfile(this)"
          >
            <i class="fas fa-edit"></i>
            <span>Edit Profile</span>
          </a>
          <a
            href="#"
            class="userOptionBtn hoverCard"
            onclick="openManagerForm()"
          >
            <i class="fas fa-plus-square"></i>
            <span>Add</span>
          </a>
        </div>

        <div class="modalContainer" id="addManagerPopup">
          <form action="" class="modal" id="addStationManagerForm">
            <span class="formHeading">Add Station Manager</span>
            <label for="addUserFullname" class="inputGroup">
              <span class="inputLabel">Full name</span>
              <input
                class="inputField"
                type="text"
                name="addUserFullname"
                id="addUserFullname"
                placeholder="Name Surname"
              />
            </label>

            <label for="addUserPhone" class="inputGroup">
              <span class="inputLabel">Phone number</span>
              <input
                class="inputField"
                type="number"
                name="addUserPhone"
                id="addUserPhone"
                placeholder="+27"
              />
            </label>
            <label for="addUserEmail" class="inputGroup">
              <span class="inputLabel">Email</span>
              <input
                class="inputField"
                type="email"
                name="addUserEmail"
                id="addUserEmail"
                placeholder="user@mail.co.za"
              />
            </label>

            <button type="submit" class="actionBtn">Add Manager</button>
          </form>
        </div>
      </div>
    </div>

    <script src="../../../src/modules/customRadio.js"></script>
    <script src="../../../src/modules/searchList.js"></script>
    <script src="../../../src/modules/pagination.js"></script>
    <script src="../../../src/modules/popup.js"></script>

    <script src="./responders-list.js"></script>
  </body>
</html>
