<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- fontawesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"
      integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4="
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="./emergency.css" />
    <title>Emergency</title>
  </head>
  <body>
    <div class="bodyLayout">
      <div class="leftSide">
        <div class="topRow">
          <div class="filterRow">
            <div class="filterRowLabel" onclick="toggleFilters()">
              <i class="fas fa-filter"></i>
              <span>Filter</span>
            </div>

            <div class="appliedFilters"></div>

            <div class="filterMenu">
              <div class="filterClass">
                <span class="filterClassLabel">Provinces</span>
                <div class="filterClassOptions provincesFilter"></div>
              </div>
              <div class="filterClass">
                <span class="filterClassLabel">Metros</span>
                <div class="filterClassOptions metrosFilter"></div>
              </div>
              <div class="filterClass">
                <span class="filterClassLabel">Clusters</span>
                <div class="filterClassOptions clustersFilter"></div>
              </div>
            </div>
          </div>

          <a href="#" onclick="openClusterForm()" class="ctaButton"
            >Add station</a
          >
        </div>

        <div class="clusters">
          <div class="cluster selected" id="joburgCluster">
            <div class="clusterName">Joburg Cluster</div>
            <div class="clusterVr"></div>
            <div class="clusterContact">
              <span class="cardItem-Label">manager</span>
              <span class="cardItem">Lerato Moloi</span>
              <span class="cardItem">+2711795064</span>
            </div>
          </div>
        </div>
        <div class="stationsContainer">
          <div class="stations paginated">
            <div
              class="station health hoverCard"
              id="wadeHealth"
              onclick="openStation()"
            >
              <span class="respondersCount">99 </span>
              <div class="cardLeft">
                <div class="stationTypeImage">
                  <img src="../../../src/media/health.svg" alt="" />
                </div>
                <span class="cardItem-bold">Fionna Wade Health Center</span>
              </div>
              <div class="cardRight">
                <div class="managerRow">
                  <span class="cardItem-Label">Hospital manager</span>
                  <span class="cardItem">Lerato Moloi</span>
                </div>
                <div class="cardTel">
                  <span class="cardItem-Label">Telephone</span>
                  <span class="cardItem">+2711795064</span>
                </div>
                <div class="cardEmail">
                  <span class="cardItem-Label">Email</span>
                  <span class="cardItem">hilbrow@saps.gov.za</span>
                </div>
              </div>
            </div>
            <div
              class="station health hoverCard"
              id="wadeHealth"
              onclick="openStation()"
            >
              <span class="respondersCount">99 </span>
              <div class="cardLeft">
                <div class="stationTypeImage">
                  <img src="../../../src/media/health.svg" alt="" />
                </div>
                <span class="cardItem-bold">Fionna Wade Health Center</span>
              </div>
              <div class="cardRight">
                <div class="managerRow">
                  <span class="cardItem-Label">Hospital manager</span>
                  <span class="cardItem">Lerato Moloi</span>
                </div>
                <div class="cardTel">
                  <span class="cardItem-Label">Telephone</span>
                  <span class="cardItem">+2711795064</span>
                </div>
                <div class="cardEmail">
                  <span class="cardItem-Label">Email</span>
                  <span class="cardItem">hilbrow@saps.gov.za</span>
                </div>
              </div>
            </div>
            <div
              class="station health hoverCard"
              id="wadeHealth"
              onclick="openStation()"
            >
              <span class="respondersCount">99 </span>
              <div class="cardLeft">
                <div class="stationTypeImage">
                  <img src="../../../src/media/health.svg" alt="" />
                </div>
                <span class="cardItem-bold">Fionna Wade Health Center</span>
              </div>
              <div class="cardRight">
                <div class="managerRow">
                  <span class="cardItem-Label">Hospital manager</span>
                  <span class="cardItem">Lerato Moloi</span>
                </div>
                <div class="cardTel">
                  <span class="cardItem-Label">Telephone</span>
                  <span class="cardItem">+2711795064</span>
                </div>
                <div class="cardEmail">
                  <span class="cardItem-Label">Email</span>
                  <span class="cardItem">hilbrow@saps.gov.za</span>
                </div>
              </div>
            </div>
            <div
              class="station health hoverCard"
              id="wadeHealth"
              onclick="openStation()"
            >
              <span class="respondersCount">99 </span>
              <div class="cardLeft">
                <div class="stationTypeImage">
                  <img src="../../../src/media/health.svg" alt="" />
                </div>
                <span class="cardItem-bold">Fionna Wade Health Center</span>
              </div>
              <div class="cardRight">
                <div class="managerRow">
                  <span class="cardItem-Label">Hospital manager</span>
                  <span class="cardItem">Lerato Moloi</span>
                </div>
                <div class="cardTel">
                  <span class="cardItem-Label">Telephone</span>
                  <span class="cardItem">+2711795064</span>
                </div>
                <div class="cardEmail">
                  <span class="cardItem-Label">Email</span>
                  <span class="cardItem">hilbrow@saps.gov.za</span>
                </div>
              </div>
            </div>
            <div
              class="station health hoverCard"
              id="wadeHealth"
              onclick="openStation()"
            >
              <span class="respondersCount">99 </span>
              <div class="cardLeft">
                <div class="stationTypeImage">
                  <img src="../../../src/media/health.svg" alt="" />
                </div>
                <span class="cardItem-bold">Fionna Wade Health Center</span>
              </div>
              <div class="cardRight">
                <div class="managerRow">
                  <span class="cardItem-Label">Hospital manager</span>
                  <span class="cardItem">Lerato Moloi</span>
                </div>
                <div class="cardTel">
                  <span class="cardItem-Label">Telephone</span>
                  <span class="cardItem">+2711795064</span>
                </div>
                <div class="cardEmail">
                  <span class="cardItem-Label">Email</span>
                  <span class="cardItem">hilbrow@saps.gov.za</span>
                </div>
              </div>
            </div>
            <div
              class="station health hoverCard"
              id="wadeHealth"
              onclick="openStation()"
            >
              <span class="respondersCount">99 </span>
              <div class="cardLeft">
                <div class="stationTypeImage">
                  <img src="../../../src/media/health.svg" alt="" />
                </div>
                <span class="cardItem-bold">Fionna Wade Health Center</span>
              </div>
              <div class="cardRight">
                <div class="managerRow">
                  <span class="cardItem-Label">Hospital manager</span>
                  <span class="cardItem">Lerato Moloi</span>
                </div>
                <div class="cardTel">
                  <span class="cardItem-Label">Telephone</span>
                  <span class="cardItem">+2711795064</span>
                </div>
                <div class="cardEmail">
                  <span class="cardItem-Label">Email</span>
                  <span class="cardItem">hilbrow@saps.gov.za</span>
                </div>
              </div>
            </div>
            <div
              class="station health hoverCard"
              id="wadeHealth"
              onclick="openStation()"
            >
              <span class="respondersCount">99 </span>
              <div class="cardLeft">
                <div class="stationTypeImage">
                  <img src="../../../src/media/health.svg" alt="" />
                </div>
                <span class="cardItem-bold">Fionna Wade Health Center</span>
              </div>
              <div class="cardRight">
                <div class="managerRow">
                  <span class="cardItem-Label">Hospital manager</span>
                  <span class="cardItem">Lerato Moloi</span>
                </div>
                <div class="cardTel">
                  <span class="cardItem-Label">Telephone</span>
                  <span class="cardItem">+2711795064</span>
                </div>
                <div class="cardEmail">
                  <span class="cardItem-Label">Email</span>
                  <span class="cardItem">hilbrow@saps.gov.za</span>
                </div>
              </div>
            </div>
            <div
              class="station health hoverCard"
              id="wadeHealth"
              onclick="openStation()"
            >
              <span class="respondersCount">99 </span>
              <div class="cardLeft">
                <div class="stationTypeImage">
                  <img src="../../../src/media/health.svg" alt="" />
                </div>
                <span class="cardItem-bold">Fionna Wade Health Center</span>
              </div>
              <div class="cardRight">
                <div class="managerRow">
                  <span class="cardItem-Label">Hospital manager</span>
                  <span class="cardItem">Lerato Moloi</span>
                </div>
                <div class="cardTel">
                  <span class="cardItem-Label">Telephone</span>
                  <span class="cardItem">+2711795064</span>
                </div>
                <div class="cardEmail">
                  <span class="cardItem-Label">Email</span>
                  <span class="cardItem">hilbrow@saps.gov.za</span>
                </div>
              </div>
            </div>
            <div
              class="station health hoverCard"
              id="wadeHealth"
              onclick="openStation()"
            >
              <span class="respondersCount">99 </span>
              <div class="cardLeft">
                <div class="stationTypeImage">
                  <img src="../../../src/media/health.svg" alt="" />
                </div>
                <span class="cardItem-bold">Fionna Wade Health Center</span>
              </div>
              <div class="cardRight">
                <div class="managerRow">
                  <span class="cardItem-Label">Hospital manager</span>
                  <span class="cardItem">Lerato Moloi</span>
                </div>
                <div class="cardTel">
                  <span class="cardItem-Label">Telephone</span>
                  <span class="cardItem">+2711795064</span>
                </div>
                <div class="cardEmail">
                  <span class="cardItem-Label">Email</span>
                  <span class="cardItem">hilbrow@saps.gov.za</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- add user popup -->
      <div class="modalContainer" id="addUserPopup">
        <div class="modal">
          <span class="formHeader">Add Station</span>
          <form action="" id="clusterForm">
            <label for="addStationProvince" class="inputGroup">
              <span class="inputLabel">Province</span>
              <input
                class="inputField"
                type="text"
                list="provinceList"
                name="addStationProvince"
                id="addStationProvince"
                oninput="loadMunicipalities(this)"
              />

              <datalist id="provinceList"></datalist>
            </label>
            <label for="addstationMetro" class="inputGroup">
              <span class="inputLabel">Municipality</span>
              <input
                class="inputField"
                type="text"
                list="metroList"
                name="addstationMetro"
                id="addstationMetro"
                oninput="loadRegions(this)"
              />

              <datalist id="metroList"></datalist>
            </label>
            <label for="addStationCluster" class="inputGroup">
              <span class="inputLabel">Region</span>
              <input
                class="inputField"
                type="text"
                list="clusterList"
                name="addStationCluster"
                id="addStationCluster"
              />

              <datalist id="clusterList"></datalist>
            </label>

            <span class="formHeader">Station Details</span>
            <label for="addStationAddress" class="inputGroup">
              <span class="inputLabel">Address</span>
              <input
                class="inputField"
                type="text"
                name="addStationAddress"
                id="addStationAddress"
              />
            </label>
            <label for="addStationTelephone" class="inputGroup">
              <span class="inputLabel">Station Phone number</span>
              <input
                class="inputField"
                type="number"
                name="addStationTelephone"
                id="addStationTelephone"
                placeholder="+27"
              />
            </label>

            <span class="formHeader">Station Manager</span>

            <label for="addStationManagerName" class="inputGroup">
              <span class="inputLabel">Manager full name</span>
              <input
                class="inputField"
                type="text"
                name="addStationManagerName"
                id="addStationManagerName"
              />
            </label>
            <label for="addStationManagerTelephone" class="inputGroup">
              <span class="inputLabel">Manager Phone number</span>
              <input
                class="inputField"
                type="number"
                name="addStationManagerTelephone"
                id="addStationManagerTelephone"
              />
            </label>
            <label for="addStationManagerEmail" class="inputGroup">
              <span class="inputLabel">Manager email address</span>
              <input
                class="inputField"
                type="email"
                name="addStationManagerEmail"
                id="addStationManagerEmail"
              />
            </label>

            <input
              type="button"
              name="generatePassword"
              id="generatePassword"
              class="inputField hoverCard"
              value="Generate Password"
            />

            <button type="submit" class="actionBtn">Add station</button>
          </form>
        </div>
      </div>
    </div>
    <script src="../../../src/modules/loader.js"></script>
    <script src="../../../src/modules/pagination.js"></script>

    <script src="../../../src/modules/popup.js"></script>
    <script src="../../../src/modules/province_municipality_region.js"></script>
    <script src="./emergency.js"></script>
  </body>
</html>
