.switch {
  position: relative;
  display: inline-block;
  width: 2.8rem;
  height: 1.3rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "No";
  font-size: 0.5rem;
  display: grid;
  place-items: center;
  height: 1rem;
  width: 1rem;
  left: 0.15rem;
  bottom: 0.15rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: var(--accent600);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px var(--accent600);
}

.switch input:checked + .slider:before {
  content: "Yes";
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
