<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- fontawesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"
      integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./overview.css" />
    <title>law-enforcement</title>
  </head>
  <body>
    <div class="bodyLayout">
      <div class="bodyRow">
        <div class="overviewCard station">
          <div class="overviewCardLeft">
            <span>56</span>
          </div>
          <div class="overviewCardRight">
            <span class="cardLabel">Police Stations</span>
            <span class="cardDescription"
              >Here is a list of police Stations</span
            >

            <a href="#" class="cardLink"
              >View all <i class="fas fa-arrow-right"></i
            ></a>
          </div>
        </div>
        <div class="overviewCard hospitals">
          <div class="overviewCardLeft">
            <span>56</span>
          </div>
          <div class="overviewCardRight">
            <span class="cardLabel">Hospitals</span>
            <span class="cardDescription"
              >Here is a list of hospitals currently on the system</span
            >

            <a href="#" class="cardLink"
              >View all <i class="fas fa-arrow-right"></i
            ></a>
          </div>
        </div>

        <div class="overviewCard hospitals">
          <div class="overviewCardLeft">
            <span>56</span>
          </div>
          <div class="overviewCardRight">
            <span class="cardLabel">Responders</span>
            <span class="cardDescription"
              >Here is a list of users currently on the system</span
            >

            <a href="#" class="cardLink"
              >View all <i class="fas fa-arrow-right"></i
            ></a>
          </div>
        </div>

        <div class="overviewCard clusters">
          <div class="overviewCardLeft">
            <span>56</span>
          </div>
          <div class="overviewCardRight">
            <span class="cardLabel">End Users</span>
            <span class="cardDescription">Here is a list of End Users</span>
            <a href="#" class="cardLink"
              >View all <i class="fas fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>

    <script src="./overview.js"></script>
  </body>
</html>
