@import url("../../../src/CommonCSS/root.css");
@import url("../../../src/CommonCSS/pagination.css");
@import url("../../../src/CommonCSS/customRadio.css");
@import url("../../../src/CommonCSS/inputs.css");
@import url("../../../src/CommonCSS/switch.css");
.bodyLayout {
  display: grid;
  align-items: baseline;
  place-items: center;
  height: 100%;
  background-color: #f7f8fa70;
  padding: 2rem;
}
.bodyRow {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 4rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.overviewCard {
  background-color: rgb(193, 231, 231);
  display: flex;
  overflow: hidden;
  border-radius: 1rem;
  width: min(100%, 600px);
  height: 13rem;
  box-shadow: var(--shadow200);
  position: relative;
  /* flex: 1 1 20%; */
}

.overviewCardLeft {
  background-color: transparent;
  width: 40%;
  height: 100%;
  display: grid;
  place-items: center;
}
.overviewCardLeft span {
  font-size: 4rem;
  font-weight: 600;
}

.overviewCardRight {
  background-color: whitesmoke;
  width: 60%;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.overviewCardRight .cardLabel {
  font-weight: 600;
}
.overviewCardRight .cardLabel {
}
.overviewCardRight .cardLink {
  color: var(--blue800);
  display: flex;
  gap: 0.5rem;
  transition: all 150ms ease-in-out;
}

.overviewCardRight .cardLink i {
  font-size: 0.875rem;
}

.overviewCardRight .cardLink:hover {
  gap: 1rem;
  color: var(--blue200);
}
