<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- fontawesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"
      integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./revenue.css" />
    <title>Revenue</title>
  </head>
  <body>
    <div class="bodyLayout">
      <div class="revenueTiles">
        <div class="revenueTile monthly">
          <span class="amount">R235 000</span>
          <span class="label">Monthly</span>
        </div>
        <div class="revenueTile quarterly">
          <span class="amount">R235 000</span>
          <span class="label">Quarterly</span>
        </div>
        <div class="revenueTile annually">
          <span class="amount">R235 000</span>
          <span class="label">Annually</span>
        </div>
      </div>
    </div>
    <script src="../../../src/modules/customRadio.js"></script>
    <script src="../../../src/modules/pagination.js"></script>
    <script src="../../../src/modules/searchList.js"></script>
    <script src="./revenue.js"></script>
  </body>
</html>
