<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- fontawesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"
      integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./revenue.css" />
    <title>Revenue</title>
  </head>
  <body>
    <div class="bodyLayout">
      <div class="selector">
        <i class="selectorIcon far fa-calendar-alt"></i>
        <select class="selectOptions">
          <option value="Monthly">Monthly</option>
          <option value="Quartely">Quartely</option>
          <option value="Yearly">Yearly</option>
        </select>
      </div>

      <div class="statsAndRate">
        <div class="stats">
          <span class="heading">Statistics</span>
          <div class="statsItem">
            <div class="statsItem-topRow">
              <span class="statsItem-name">Total number of users</span>
              <span class="statsItem-figure">3.45k</span>
            </div>

            <div class="statsItem-chart">
              <div class="statsItem-chart-hundred"></div>
              <div class="statsItem-chart-percent"></div>
            </div>
          </div>
          <div class="statsItem">
            <div class="statsItem-topRow">
              <span class="statsItem-name">Subscibed users</span>
              <span class="statsItem-figure">2800</span>
            </div>

            <div class="statsItem-chart">
              <div class="statsItem-chart-hundred"></div>
              <div class="statsItem-chart-percent"></div>
            </div>
          </div>
          <div class="statsItem">
            <div class="statsItem-topRow">
              <span class="statsItem-name">Not subscribed users</span>
              <span class="statsItem-figure">160</span>
            </div>

            <div class="statsItem-chart">
              <div class="statsItem-chart-hundred"></div>
              <div class="statsItem-chart-percent"></div>
            </div>
          </div>
          <div class="statsItem">
            <div class="statsItem-topRow">
              <span class="statsItem-name">New users</span>
              <span class="statsItem-figure">3.45k</span>
            </div>

            <div class="statsItem-chart">
              <div class="statsItem-chart-hundred"></div>
              <div class="statsItem-chart-percent"></div>
            </div>
          </div>
          <div class="statsItem">
            <div class="statsItem-topRow">
              <span class="statsItem-name">Uninstalls</span>
              <span class="statsItem-figure">39</span>
            </div>

            <div class="statsItem-chart">
              <div class="statsItem-chart-hundred"></div>
              <div class="statsItem-chart-percent"></div>
            </div>
          </div>
        </div>
        <div class="rates">
          <span class="heading">Rate</span>

          <div class="statsItem">
            <span class="statsItem-figure">Edit Rate</span>
            <span class="statsItem-name">21 Oct 2021 - R9.99 per month</span>
          </div>

          <div class="currentRateContainer">
            <label for="currentRate">Current Rate</label>
            <input class="currentRate" id="currentRate" value="9.99" disabled />
          </div>

          <a href="#" class="curretRateEditBtn" onclick="editRate(this)">
            Edit rate
          </a>
        </div>
      </div>
    </div>
    <script src="../../../src/modules/customRadio.js"></script>
    <script src="../../../src/modules/pagination.js"></script>
    <script src="../../../src/modules/searchList.js"></script>
    <script src="./revenue.js"></script>
  </body>
</html>

2020778259
