@import url("../../src/CommonCSS/root.css");
@import url("../../src/CommonCSS/pagination.css");
@import url("../../src/CommonCSS/customRadio.css");
@import url("../../src/CommonCSS/switch.css");

.bodyLayout {
  display: grid;
  height: 100%;
  grid-template-columns: 2.5fr 1fr;
}

.leftSide {
  background-color: white;
  padding: 0 1rem;
}

.stationStatsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stationStatsHeader {
  font-size: 1.2rem;
  font-weight: 500;
  color: #261d56;
}

.absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.attendedCallsContainer {
  margin-top: 1rem;
  position: relative;
  height: 150px;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.attendedCallsBox {
  width: 250px;
  height: 100px;
  background-color: var(--accent300);
  border-radius: 1rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px dashed #261d56;
}

.attendedCallsBox .attendedLabel {
  font-weight: 400;
}
.attendedCallsBox .number {
  font-weight: 600;
  font-size: 1.5rem;
}
.dashedLine {
  width: 90%;
  height: 50px;
  border-top: 1px dashed #261d56;
  border-left: 1px dashed #261d56;
  border-right: 1px dashed #261d56;

  border-radius: 2rem 2rem 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.labelsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.centeredCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labelsRow .coloredCircle {
  margin-bottom: 0.75rem;
  width: 1.3rem;
  height: 1.3rem;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: var(--shadow200);
}

.coloredCircle.rescue {
  background-color: var(--green800);
}

.coloredCircle.nonRescue {
  background-color: var(--purple800);
}
.labelsRow .chartNumber {
  font-size: 1rem;
  font-weight: 500;
}

.labelsRow .chartLabel {
  font-size: 0.675rem;
  opacity: 0.8;
}

.callsChart {
  display: flex;
  align-items: center;
  width: 95%;
  height: 0.65rem;
  margin-top: 2rem;
  border-radius: 0.325rem;
  background-color: var(--accent300);
  overflow: hidden;
}

.callsChart .callsChart-rescue {
  width: 70%;
  height: 100%;
  background-color: var(--green800);
}

.callsChart .callsChart-nonRescue {
  width: 30%;
  height: 100%;
  background-color: var(--purple800);
}
.rightSide {
  background-color: var(--grey100);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  gap: 2rem;
}

.userPicture {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
}

.userPicture img {
  object-fit: cover;
  object-position: center center;
}

.userDetails {
  padding: 0 1rem;
}
.updateUserForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formRow {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
}

.formRow label,
.labelSpan {
  opacity: 0.8;
  margin-bottom: 0.02rem;
}

.formRow input {
  border: none;
  border-bottom: 1px solid var(--grey600);
  background-color: transparent;
  outline: none;
}

.updateUserForm button {
  background-color: var(--accent400);
  padding: 0.75rem 3rem;
  border-radius: 0.3rem;
}
