@import url("../../../src/CommonCSS/root.css");
@import url("../../../src/CommonCSS/pagination.css");
@import url("../../../src/CommonCSS/customRadio.css");
@import url("../../../src/CommonCSS/inputs.css");
@import url("../../../src/CommonCSS/switch.css");
.bodyLayout {
  display: grid;
  grid-gap: 0.5rem;
  height: 100%;
  grid-template-columns: 2.5fr 1fr;
  grid-template-areas: "leftSide leftSide";
  background-color: #f7f8fa70;
}

.leftSide {
  grid-area: leftSide;
  display: grid;
  grid-template-rows: 50px 7fr 50px;
  padding: 1rem;
  grid-gap: 1rem;
}

.rightSide {
  grid-area: rightSide;
  background-color: var(--grey100);
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  gap: 2rem;
}

.displayNone {
  display: none;
}
.topRow {
  display: flex;
  justify-content: end;
  height: fit-content;
}
.ctaButton {
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.stationPersonel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.personelSelectionRow {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 1rem;
}

.stationPersonel-search {
  display: flex;
  position: relative;
}

.stationPersonel-search .inputField {
  padding-left: 2rem;
}

.stationPersonel-search .searchIcon {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0%, -50%);
  opacity: 00.5;
}

.stationPersonelList {
  width: 100%;
  border-collapse: collapse;
}

.stationPersonelList thead {
  font-weight: 600;
  text-align: left;
  margin-bottom: 0.5rem;
}

.stationPersonelList thead th {
  background-color: var(--accent300);
  padding: 1.5rem 0 1.5rem 0.25rem;
}

.stationPersonelList tbody td {
  margin-top: 0.15rem;

  padding: 1rem 0 1rem 0.25rem;
}

.stationPersonelList tbody td.active {
  background-color: var(--accent150);
}

.stationPersonelList tbody tr {
  cursor: pointer;
}
.stationPersonelList tbody tr:hover td {
  cursor: pointer;
  background-color: var(--accent150);
}

.stationPersonelList tbody tr:nth-child(even) {
  background-color: var(--accent50);
}

.clusterStaff,
.clusterUsers {
  border-top: 1px solid grey;
  padding: 1rem 0;
}

.usersLabel {
  font-weight: 600;
}
.userStatusIndicator {
  padding: 0.5rem 1rem;
  background-color: var(--green800);
  border-radius: 4px;
}
.userNameAndPic {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.userPic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.userPic img {
  object-fit: cover;
  object-position: center center;
}

.sendMsgBtn {
  display: inline-flex;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  gap: 1rem;
  color: black;
  border: 1px solid var(--accent600);
  background-color: var(--accent600);
}

.sendMsgBtn:hover {
  border: 1px solid black;
  background-color: white;
}
.userRowAction {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* rightSide */

.userPicture {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
}

.userPicture img {
  object-fit: cover;
  object-position: center center;
}

.userDetails {
  padding: 0 1rem;
}
.updateUserForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formRow {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
}

.formRow label,
.labelSpan {
  opacity: 0.8;
  margin-bottom: 0.02rem;
}

.formRow input {
  border: none;
  border-bottom: 1px solid var(--grey600);
  background-color: transparent;
  outline: none;
}

.updateUserForm button {
  background-color: var(--accent400);
  padding: 0.75rem 3rem;
  border-radius: 0.3rem;
}
