<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- fontawesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"
      integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4="
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="./layout.css" />
    <title>Aziza</title>
  </head>
  <body>
    <div class="bodyLayout">
      <div class="topBar">
        <div class="imageContainer logoContainer">
          <img src="../../../src/Media/logo.svg" alt="" />
        </div>
        <span class="dashboardName">Aziza Health</span>
        <div class="searchWrapper gridCenter">
          <div class="pageSearch">
            <input type="search" name="pageSearch" id="pageSearch" />

            <i class="fa fa-search searchIcon"></i>
          </div>
        </div>
        <div class="rightContent">
          <div class="notificationIcon">
            <i class="far fa-bell" onclick="ToggleNotifications()"></i>
            <div class="newNotifications"></div>
          </div>
          <div class="loggedInUser" onclick="openUserMenu()">
            <img src="../../../src/media/man.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="sideNav">
        <a href="#" onclick="gotoOverview(this)" class="navLink">
          <i class="fas fa-home navLink-Icon"></i>
          <span class="navLink-Text">Overview</span>
        </a>
        <a href="#" onclick="gotoRescueCalls(this)" class="navLink">
          <i class="fas fa-hand-paper navLink-Icon"></i>
          <span class="navLink-Text">Rescue Calls</span>
        </a>
        <a href="#" onclick="gotoTrack(this)" class="navLink">
          <i class="fas fa-map-marker-alt navLink-Icon"></i>
          <span class="navLink-Text">Track</span>
        </a>
        <a href="#" onclick="gotoUsers(this)" class="navLink">
          <i class="fas fa-users navLink-Icon"></i>
          <span class="navLink-Text">Users</span>
        </a>
        <a href="#" onclick="gotoTerms(this)" class="navLink">
          <i class="fas fa-cog navLink-Icon"></i>
          <span class="navLink-Text">Terms & Conditions</span>
        </a>
      </div>
      <div class="contentCanvas"></div>

      <!-- userpopup -->
      <div class="modalContainer" id="loggedInUserPopup">
        <div class="modal" id="userMenu">
          <a href="#" class="subMenu-Item" onclick="logout()">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
          </a>
          <a href="#" class="subMenu-Item" onclick="openProfile()">
            <i class="fas fa-user-circle"></i>
            <span>Profile</span>
          </a>
        </div>
      </div>

      <!-- Notification button click popup -->
      <div class="modalContainer" id="notificationsContainer">
        <div class="modal" id="notifications">
          <div class="row spacebetween">
            <span class="NotificationsTitle">Notifications</span>
          </div>
          <div class="tasksItems">
            <a class="task" onclick="OpenNotification()">
              <div class="iconAndContent">
                <p>
                  <span class="taskTitle">Add Alfred Chitlins as Admin</span
                  ><br />
                  <span class="taskContent">
                    purpose of lorem ipsum is to create a natural looking
                    block</span
                  >
                </p>
              </div>
              <span class="taskDay">24 February 2021</span>
            </a>
          </div>
        </div>
      </div>

      <!-- Note popup -->
      <div class="modalContainer" id="notificationPopupContainer">
        <div class="modal" id="notificationPopupNote">
          <a href="#" class="notificationCloser" onclick="closeNotification()"
            ><i class="far fa-times-circle"></i
          ></a>

          <div class="task fullNotification">
            <div class="iconAndContent">
              <p>
                <span class="taskTitle">Add Alfred Chitlins as Admin</span
                ><br />
                <span class="taskContent">
                  purpose of lorem ipsum is to create a natural looking
                  block</span
                >
              </p>
            </div>
            <span class="taskDay">24 February 2021</span>
          </div>
        </div>
      </div>
    </div>
    <script src="../../../src/modules/customRadio.js"></script>
    <script src="../../../src/modules/loader.js"></script>
    <script src="../../../src/modules/popup.js"></script>
    <script src="./layout.js"></script>
  </body>
</html>
