@import url("../../../../public/src/CommonCSS/root.css");
@import url("../../../../public/src/CommonCSS/pagination.css");
@import url("../../../../public/src/CommonCSS/customRadio.css");
@import url("../../../../public/src/CommonCSS/inputs.css");

.bodyLayout {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 1rem;
}
.backBtn {
  grid-area: backBtn;
  display: flex;
  gap: 1rem;
  color: var(--grey600);

  margin-left: 1rem;
  transition: all 150ms ease-in-out;
}

.backBtn:hover {
  color: var(--accent600);
  gap: 1.5rem;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 2rem;
  width: min(100%, 350px);
}

.userPicture {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.userPicture img {
  object-fit: cover;
  object-position: center center;
}

#updateUserPic {
  display: none;
}

.userDetails {
  padding: 0 1rem;
  width: 100%;
}
.updateUserForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.inputsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
}

.updateUserForm button {
  background-color: var(--accent600);
  padding: 0.75rem 3rem;
  border-radius: 0.3rem;
}

.updateUserForm button:hover {
  background-color: var(--accent150);
}
