<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- fontawesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"
      integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./user-profile.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="bodyLayout">
      <a href="#" class="backBtn" onclick="goBack()">
        <i class="fas fa-chevron-left"></i>
        <span>Back</span>
      </a>
      <div class="profileContainer">
        <label for="updateUserPic" class="userPicture">
          <img src="../../../../src/media/man.jpg" alt="" />
          <input type="file" name="updateUserPic" id="updateUserPic" />
        </label>
        <div class="userDetails">
          <form action="" class="updateUserForm">
            <div class="inputsContainer">
              <label class="inputGroup" for="fullName">
                <span class="inputLabel">Full Name</span>
                <input
                  class="inputField"
                  type="text"
                  name="fullName"
                  id="fullName"
                  value="John Smith"
                />
              </label>

              <label class="inputGroup" for="phoneNumber">
                <span class="inputLabel">Phone number</span>
                <input
                  class="inputField"
                  type="text"
                  name="phoneNumber"
                  id="phoneNumber"
                  value="+2782345678"
                />
              </label>

              <label class="inputGroup" for="emailAddress"
                ><span class="inputLabel">Email Address</span>
                <input
                  class="inputField"
                  type="email"
                  name="emailAddress"
                  id="emailAddress"
                  value="johns@saps.co.za"
              /></label>

              <label class="inputGroup" for="role"
                ><span class="inputLabel">Role</span>

                <input
                  class="inputField"
                  type="text"
                  name="role"
                  id="role"
                  list="rolesList"
                  value="Responder"
                  disabled
                />

                <datalist id="rolesList">
                  <option value="Responer"></option>
                  <option value="Something else"></option>
                </datalist>
              </label>
            </div>

            <button type="submit">Update user</button>
          </form>
        </div>
      </div>
    </div>
    <script src="./user-profile.js"></script>
  </body>
</html>
